<div id ="confirmRegistration" class="container" style="height: 700px">
<div class="col-md-6 col-md-offset-3">
<div class="row">
<h1>Confirm your account</h1>
</div>
<div ng-show="controller.error" class="bg-danger">token is either incorrect or due</div>
		<div id="loading" ng-show="controller.dataLoading">
			<img alt="loading" src="img/Preloader_1.gif">
		</div>
<div class="row">
<form name="form" ng-submit="controller.confirmRegistration()" role="form">
	<div class="form-group" ng-class="{ 'has-error': form.token.$dirty && form.token.$error.required }">
            <label for="email">token</label>
            <input type="text" name="token" id="token" class="form-control" ng-model="controller.token" required />
    </div>
    <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || self.dataLoading" class="btn btn-primary">confirm</button>
    </div>
</form>
</div>
</div>
</div>