<div>Great: home partial</div>
<div class="row">
<p>{{controller.msg}}<p>

<!--div class="row" >
	
	<label for="connect">WebSocket send pippo:</label>
	<button id="connect" ng-click="controller.send()" class="btn btn-default">Send</button>
	</div>
	
	<div class="row" >
	<label for="connect">WebSocket public topic connection:</label>
	<button id="connect" ng-click="controller.connectPublic()" class="btn btn-default">Connect Public</button>
	</div>
	<div class="row" >
	<label for="connect">WebSocket private topic connection:</label>
	<button id="connect" ng-click="controller.connectPrivate()" class="btn btn-default">Connect Private</button>
	</div>
	
	<div class="row" >
	<label for="connect">disconnect public</label>
	<button id="connect" ng-click="controller.disconnectPublic()" class="btn btn-default">disconnect public</button>
	</div>

	<div class="row" >	
	<label for="connect">disconnect private</label>
	<button id="connect" ng-click="controller.disconnectPrivate()" class="btn btn-default">disconnect private</button>
</div-->


</div>