<div ng-controller="speedGraph">
	<!-- left panel -->
	<div-- class="col-md-3 col-md-offset-1">
		<div class="row col-md-12" id="left-panel-pills">
			<uib-tabset> 
			<uib-tab  active="activePill" index="0" heading="Providers">
			<div class="providers pre-scrollable">
				<div class="list-group">
				 <div>
				 <a id="public-showAll" ng-click="showAllAsname('public')"
	              ng-class="authenticated ? 'list-group-item' : 'list-group-item active'">
	                                    {{authenticated ? 'Show All' : 'Hide All'}}</a>
	              </div>
					<div ng-repeat="ele in publicSpeedData"
						id="public-graph-asname-{{ele.asname}}">
						<a href="" class="list-group-item public-asnameButton"
							ng-click="showAsname(ele.asname,'public')"
							id="public-button-{{ele.asname}}"> {{ele.asname}} </a>
					</div>
				</div>
			</div>
			</uib-tab> 
			<uib-tab ng-if="authenticated" index="1" heading="Your Providers">
			<div class="providers pre-scrollable">
				<div class="list-group">
				<div>
					<a href="" class="list-group-item active" id="user-showAll" ng-click="showAllAsname('user');">Hide All</a>
				</div>
					<div ng-repeat="ele in userSpeedData" 
						id="user-graph-asname-{{ele.asname}}">
						<a href="" class="list-group-item user-asnameButton"
							ng-click="showAsname(ele.asname,'user')"
							id="user-button-{{ele.asname}}"> {{ele.asname}} el </a>
					</div>
				</div>
			</div>
			</uib-tab> 
			<uib-tab index="2"
				heading="Info">
			<div ng-controller="speedGraphPlotInfoController as ctrl">
				<plot-info plot="ctrl.plotInfo"></plot-info>
			</div>
			</uib-tab>
			</uib-tabset>
		</div>
	</div-->

	<!-- downloads speed graph -->
	<div class="col-md-8">
		<div class="col-md-11" id="speed-graph-canvas">
			<download-speed-temporal-graph class="row"></download-speed-temporal-graph>
		</div>
	</div>
</div>