
<!--button ng-click="connect()" class="btn btn-danger">Connect</button-->
        <div class="btn-group row" id="btnDiv">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Public Asnames <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ><a class="btn btn-default" id="public-showAll" ng-click="showAllAsname('public');">Show All</a></li>
                    <li ng-repeat="ele in publicDownloadList" id="public-graph-asname-{{ele.asname}}">
                        <a class="btn btn-default public-asnameButton" id="public-button-{{ele.asname}}" ng-click="showAsname(ele.asname,'public')">{{ele.asname}}</a>
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    User Asnames <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ><a class="btn btn-default active" id="user-showAll" ng-click="showAllAsname('user');">Hide All</a></li>
                    <li ng-repeat="ele in userDownloadList" id="user-graph-asname-{{ele.asname}}">
                        <a class="btn btn-default active user-asnameButton" id="user-button-{{ele.asname}}" ng-click="showAsname(ele.asname,'user')">{{ele.asname}}</a>
                    </li>
                </ul>
            </div>
        </div>

    <download-speed-temporal-graph class="row"></download-speed-temporal-graph>
