    <div class="btn-group row " id="btnDivHist">
        <div class="btn-group">
            <button type="button" class="btn btn-default active" ng-click="switchView('user')" id="button-view-user">
                User providers
            </button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="switchView('public')" id="button-view-public">
               Public providers
            </button>
        </div>
    </div>
    <speed-histogram class="row"></speed-histogram>